{% extends 'base.html' %} {% block title %} Phase I {% endblock title %} {%
    block body %} {% block body %}
    
    <section>
      <div class="container-fluid px-0">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../static/img/End_Game.png"
                class="d-block w-100"
                alt="..."
                height="656"
              />
              <div
                class="carousel-caption d-none d-md-block"
                style="background-color: black; border-radius: 68px; opacity: 0.7"
              >
                <h1><b>Phase-IV (2020 - Current)</b></h1>
                <p>
                    The surviving members of the Avengers and their allies attempt to reverse the destruction
                    caused by Thanos in Infinity War.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock body %}
    