{% extends 'base.html' %} {% block title %} Phase I {% endblock title %} {%
block body %} {% block body %}

<section>
  <div class="container-fluid px-0">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../static/img/Avengers.jpg"
            class="d-block w-100"
            alt="..."
            height="656"
          />
          <div
            class="carousel-caption d-none d-md-block"
            style="background-color: black; border-radius: 68px; opacity: 0.7"
          >
            <h1><b>Phase-I (2008 - 2012)</b></h1>
            <p>
              The Avengers began as a group of extraordinary individuals who
              were assembled to defeat Loki and his Chitauri army in New York
              City.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
